* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
/*    color: #fff;*/
    margin: 0;
    padding: 0px;
/*    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);*/
}

.left-panel {
    width: 100%; /* Left panel occupies half of the screen */
    background-color: indianred; /* Change to your desired color */
    padding-top: 30px;
}

p {
    
    margin: 15px 0;
    padding-left: 30px;
    padding-top: 30px;
    color: white;
}

nav ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 7px;
}

nav {
    background: linear-gradient(to right, blue 0%, lightblue 100%);
    margin-top: -12px;
    padding-bottom: 5px;
    padding-top: 15px;
    text-align: center;
}

    nav ul li a:link, nav ul li a:visited {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 10px;
        background-color: red;
        color: #ffffff;
    }

    nav ul li a:hover, nav ul li a:active {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        padding: 10px;
        background-color: orange;
        color: #000000;
    }
    /*.container{
    
    display: flex;
    height: 100vh;*/ /* Full height of the viewport */
    /*}*/
h1, h2 {
    color: blue;
}


.text {
    padding-bottom: 5px;
    padding-top: 15px;
}

#space_img {
    height:400px;
    width: 550px;
}